.Top-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.Drop-down-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Drop-down-btn > button{
    background-color: white;
    border-style: none;
}

.Top-navbar-tag {
    margin-left: 15%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 50px;
    border-radius: 25px;
    background-color:#87CEFA;
    color: white;
    border-style: none;
}

.Top-navbar-image {
    width: 25%;
    clip-path:ellipse(50% 33%);
}

